@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: var(--font-display);
    --font-body: var(--font-body);
    --font-serif: var(--font-serif);

    --color-primary: #ec136d;
    --color-background-light: #f8f6f7;
    --color-background-dark: #221018;
    --color-accent-maroon: #5d0e2c;
    --color-accent-gold: #d4af37;
}

/* Custom Utilities based on HTML */
.luxury-gradient {
    background: linear-gradient(135deg, var(--color-accent-maroon) 0%, var(--color-background-dark) 100%);
}

.gold-border {
    border: 1px solid var(--color-accent-gold);
}

:root {
    --background: var(--color-background-light);
    --foreground: #171717;
}

.dark {
    --background: var(--color-background-dark);
    --foreground: #ededed;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}